@font-face {
  font-family: 'SF UI Display';
  src: url('../fonts/sf-ui-display-regular.woff2') format('woff2'),
       url('../fonts/SFUIDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Display';
  src: url('../fonts/sf-ui-display-medium.woff2') format('woff2'),
       url('../fonts/SFUIDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Display';
  src: url('../fonts/sf-ui-display-bold.woff2') format('woff2'),
       url('../fonts/SFUIDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}